[submodule ".config/zsh/plugins/zsh-defer"]
	path = .config/zsh/plugins/zsh-defer
	url = https://github.com/romkatv/zsh-defer.git
[submodule ".config/zsh/plugins/vanilli.sh"]
	path = .config/zsh/plugins/vanilli.sh
	url = https://github.com/yous/vanilli.sh
[submodule ".config/zsh/plugins/fast-syntax-highlighting"]
	path = .config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
